body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  display: block;
  font-size: 20px;
  margin: 10px;
  background: #e3f4ff;
  padding: 8px;
}

.content {
  margin: 10px;
  background: #e3f4ff;
  padding: 15px 8px;
}

/* Note that the addition of a general margin
  adds a different distance beetwen blue cubes and
  the general withe cube, this is of interset since 
  it is in fact simpler as proposed by the solution 
  in which we only care about the bottom and up
  margins and the blanck spaces do not need further
  modification.*/
.button-container {
  text-align: center;
  background: #e3f4ff;
  margin: 10px;
  padding: 5px;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px 30px;
}